.container-footer{
    background-color: #343a40;
    color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    color:#ffffff;
}

.text-body-secondary {
    color: #ffffff !important;
}

.container-footer-content {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}
