footer{
  background: #1F2328;
  color: #fff;
  padding: 20px 0;
  margin-top: 20px;
}

footer .social-link i{
  color: #fff;
  font-size: 24px;
}

footer .footer-link{
  color: #fff;
  text-decoration: none;
}

footer .footer-link:hover{
  color: var(--brand);
}