<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="admin_home.html">
                <img src="../public/logo.png" alt="Logo" class="img-logo">
            </a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="admin_home.html">Home</a>
                </li>
                {{#admin}}
                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="all_users.html">Gestionar usuarios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="all_orders.html">Gestionar pedidos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="statistics.html">Estadísticas</a>
                </li>
                {{/admin}}
            </ul>
            <ul class="navbar-nav ms-auto">
                {{#logged}}
                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="cart.html">
                        <i class="bi bi-cart"></i> Carrito
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-link-dropdown-header dropdown-toggle d-flex align-items-center gap-1"
                        href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                        Perfil
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="userDropdown">

                        <li>
                            <a class="dropdown-item" href="user_profile.html">
                                <i class="bi bi-person me-2"></i> Gestionar perfil
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="user_orders.html">
                                <i class="bi bi-bag-check me-2"></i> Mis pedidos
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item text-danger" href="login.html">
                                <i class="bi bi-box-arrow-right me-2"></i> Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </li>
                {{/logged}}
                {{^logged}}
                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="register.html">
                        <i class="bi bi-person"></i> Registrarse
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="login.html">
                        <i class="bi bi-box-arrow-in-right"></i> Iniciar sesión
                    </a>
                </li>
                {{/logged}}
            </ul>
        </div>
    </nav>
</header>