<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/logo.png" alt="Logo" class="img-logo">
            </a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="/">Home</a>
                </li>
                {{#admin}}
                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="/users">Gestionar usuarios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="/orders">Gestionar pedidos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="/statistics">Estadísticas</a>
                </li>
                {{/admin}}
            </ul>
            <ul class="navbar-nav ms-auto">
                {{#logged}}
                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="/cart">
                        <i class="bi bi-cart"></i> Carrito
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-link-dropdown-header dropdown-toggle d-flex align-items-center gap-1"
                        href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                        Perfil
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="userDropdown">

                        <li>
                            <a class="dropdown-item" href="/profile">
                                <i class="bi bi-person me-2"></i> Gestionar perfil
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/myorders">
                                <i class="bi bi-bag-check me-2"></i> Mis pedidos
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <form action="/logout" method="post">
                                <button class="dropdown-item text-danger" type="submit">
                                    <i class="bi bi-box-arrow-right me-2"></i> Cerrar sesión
                                </button>
                                <input type="hidden" name="_csrf" value="{{token}}"/>
                            </form>
                        </li>
                    </ul>
                </li>
                {{/logged}}
                {{^logged}}
                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="/register">
                        <i class="bi bi-person"></i> Registrarse
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-header" href="/login">
                        <i class="bi bi-box-arrow-in-right"></i> Iniciar sesión
                    </a>
                </li>
                {{/logged}}
            </ul>
        </div>
    </nav>
</header>