{{#orders}}
<tr class ="order-item">
    <td>{{id}}</td>
    <td>{{user.email}}</td>
    <td>{{creationDate}}</td>
    <td>{{totalPrice}}€</td>
    <td class="d-flex flex-wrap gap-2">
        <a class="btn btn-info btn-sm d-inline" href="/order/{{id}}">
            Ver detalle <i class="bi bi-eye"></i>
        </a>
        <form method="post" action="/order/{{id}}/delete">
            <button class="btn btn-danger btn-sm" type="submit">
                Borrar <i class="bi bi-x-lg"></i>
            </button>
            <input type="hidden" name="_csrf" value="{{token}}">
        </form>
    </td>
</tr>
{{/orders}}