{{#tableFormat}}
{{#orderItemsList}}
<tr class="order-item">
    <td>
        {{garmentName}} <br>
        <small class="text-muted">Ref: {{garmentReference}}</small>
    </td>
    <td><img src="/images/{{garmentId}}" class="img-fluid img-product-order" style="width: 50px;" alt="Producto">
    </td>
    <td>{{size}}</td>
    <td>{{quantity}}</td>
    <td>{{garmentPrice}}€</td>
    <td>{{subtotal}}€</td>
</tr>
{{/orderItemsList}}
{{/tableFormat}}
{{^tableFormat}}
{{#orderItemsList}}
<div class="cart-item d-flex align-items-center justify-content-between mb-3">
    <div class="cart-item-info d-flex align-items-center gap-3">
        <img src="/images/{{getGarmentId}}" alt="{{getGarmentName}}" class="img-fluid cart-item-image" />
        <div>
            <h5 class="mb-1">{{getGarmentName}}</h5>
            <p class="text-muted mb-0">Ref: {{getGarmentReference}}</p>
            <p class="text-muted mb-0">Talla: {{size}}</p>
            <p class="text-muted mb-0">Precio unitario: {{getGarmentPrice}}€</p>
        </div>
    </div>

    <div class="cart-item-controls">
        <span class="fw-bold">Subtotal: {{subtotal}}€</span>

        <div class="quantity-controls">
            <input disabled type="number" class="form-control form-control-quantity" value="{{quantity}}" min="1"
                max="50" />
            <form action="/cart/remove/{{id}}" method="post" class="d-inline">
                <input type="hidden" name="_csrf" value="{{token}}">
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="bi bi-x-lg"></i> Eliminar
                </button>
            </form>
        </div>
    </div>
</div>
{{/orderItemsList}}
{{/tableFormat}}